@page
@functions
{
  public string DayName {get;set;}

  public void OnGet()
  {
    ViewData["Title"] = "Northwind Website";
    Model.DayName = DateTime.Now.ToString("dddd");
  }
}
<div class="jumbotron">
  <h1 class="display-3">Welcome to Northwind!</h1>
  <p class="lead">We supply products to our customers.</p>
  <hr />
  <p>It's @Model.DayName! Our customers include restaurants, hotels, and cruise lines.</p>
  <p>
<<<<<<< HEAD
    <a class="btn btn-primary" href="packtfeatures/employeesorted">Contact out employees</a>
=======
    <a class="btn btn-primary" href="packtfeature/employeesorted">Contact out employees</a>
>>>>>>> 08a39265fe13e617f7663770464a9e037ee8a131
  </p>
</div>
