@page
@using Packt.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PacktFeatures.Pages.EmployeesortedPageModel

<div class="row">
    <h1 class="display-2">Employees by City sorted</h1>
</div>
<div class="row">
    @foreach(IGrouping<string, Employee> employees in Model.employeesSorted)
    {
        <h1>@employees.Key</h1>
            @foreach (var employee in employees)
            {
                <div class="col-sm-3">
                    <partial name="_Employee" model="employee" />
                </div>
            }
    }
</div>